<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="btn btn-primary m-2" routerLink="home" routerLinkActive="active">Home</a>
  <a class="btn btn-primary m-2" routerLink="about" routerLinkActive="active">About</a>
  <a class="btn btn-primary m-2" routerLink="contact" routerLinkActive="active">Contact</a>
  <a class="btn btn-primary m-2" routerLink="list" routerLinkActive="active">Lists</a>
</nav>
<!-- 
<app-about (message)="recieveMessage($event)"></app-about>
<h3 *ngIf="msg"> {{msg}} </h3> -->
<router-outlet></router-outlet>